@font-face {
  font-family: "InterRegular";
  src: url("/public/fonts/Inter/Inter_24pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterExtraLight";
  src: url("/public/fonts/Inter/Inter_24pt-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}